<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="MPTestNg">
  <test name="MPTestNg">
    <classes>
      <class name="mp.mp.formtest.DataDriveFormTest"/>
      <class name="mp.mp.formtest.EditAccountFormTest"/>
      <class name="mp.mp.formtest.RegisterOrderFormTest"/>
      <class name="mp.mp.formtest.SearchProductFormTest"/>
      <class name="mp.mp.formtest.SignUpFormTest"/>
    </classes>
  </test>
</suite>
